@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
.title{
  font-family: 'Rajdhani','Orbitron', sans-serif;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: transparent;
  /* color: #00ffff; */
  /* text-shadow: 0 0 5px #00ffff, 0 0 15px #00ffff, 0 0 10px #002f2f; */
  background: linear-gradient(90deg, #00ffff, #ff00ff, #00ffff);
  -webkit-background-clip: text;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 350px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(245, 73, 144, 0.5) 5px 10px 15px;

}
.nav {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}