/* importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

/* fuentes personalizadas */
.title{
  font-family: 'Rajdhani','Orbitron', sans-serif;
  font-size: clamp(3rem, 10vw, 5rem); /* (minimo, 10%pantalla, maximo) */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: transparent;
  background: linear-gradient(90deg, #00ffff, #0090fe, #00ffff);
  -webkit-background-clip: text;
  padding: 0 1rem;
  line-height: 1.2;
}

.letter-1{
  font-family: 'Rajdhani','Orbitron', sans-serif;
  font-weight: bold;
  color:#011f35;
}

/* contenedores personalizados */
.button-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(245, 73, 144);
  width: 350px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px,
        rgba(245, 73, 144, 0.5) 3px 5px 5px;

}

/* botones para barra de nav */
.button-nav {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button-nav:hover {
  transform: translateY(-3px);
}

/* tarjetas personalizadas*/
.card-p {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 500px;
  width: 100%;
}
.card-p:hover{
  transform: scale(1.001);
  box-shadow: 0.3rem 0 0.5rem rgba(0, 0, 0, 0.2);
}

.progress-bar{
  font-weight: bold;
  font-size: 0.9rem;
}
.animate-bar{
  transition: width 1s ease-in-out;
}

/* botones personalizados */
.btn-p{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn-p:hover{
  background-color:rgba(245, 73, 144);
  border-color:rgba(245, 73, 144);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px,
        rgba(245, 73, 144, 0.5) 3px 5px 5px;
}