{% extends "layout.html" %}

{% block title %}
Login CodeLeveling
{% endblock %}

{% block body %}

<div class="container mt-5">
    <form action="/login" method="POST"> 
        <div class="card p-4 card-p">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-danger text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="mb-3 text-center">
                <h3 class="letter-1">Ingresar</h3>
            </div>
            <div class="mb-3">
                <input name="username" class="form-control mx-auto w-auto" placeholder="Usuario" autocomplete="off"
                    autofocus type="text" />
            </div>
            <div class="mb-3">
                <input name="password" class="form-control mx-auto w-auto" placeholder="Contraseña" type="password" />
            </div>
            <button type="submit" class="btn btn-primary btn-p">Ingresar</button>
        </div> 
    </form>
</div>

{% endblock %}