{% extends "layout.html" %}

{% block title %}
    Tareas
{% endblock %}

{% block body %}
<div class="container my-5">
    
    <h2 class="letter-1 text-center mb-3"><i class="fa-solid fa-bullseye text-info me-3"></i>Tareas de Habilidades</h2>
    <div class="d-flex justify-content-center mb-5">
        <form action="/tareas/reiniciar" method="POST">
            <button class="btn btn-outline-primary btn-p" type="submit" onclick="ClearTask()">Reiniciar Tareas</button>
        </form>
    </div>
    <!-- tareas de habilidades -->
    <div class="row g-4">
        {% for skill in skills %}
        <div class="col-md-4">
            <div class="card card-p">
                <div class="card-body">
                    <h4 class="card-title letter-1 text-center"><i class="{{skill.icon}} text-info"></i> {{skill.name}}</h4>
                    <ul class="list-group">
                        <li class="list-group-item task-item" data-id="{{skill.id + 1000}}">20 minutos: teoria</li>
                        <li class="list-group-item task-item" data-id="{{skill.id + 2000}}">20 minutos: practica</li>
                        <li class="list-group-item task-item" data-id="{{skill.id + 3000}}">20 minutos: experimentacion</li>
                    </ul>
                    <form action="/tareas/completar/skill" method="POST">
                        <input type="hidden" name="ref_id" value="{{skill.id}}">
                        <button class="btn btn-outline-primary btn-p mt-2" type="submit" onclick="return ValidateTask(this)" >completar</button>
                    </form>  
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <h2 class="letter-1 text-center mt-5 mb-5"><i class="fa-solid fa-laptop-code text-info"></i> Tareas de Proyectos</h2>
    
    <!-- tareas de proyectos -->
    <div class="row g-4">
        {% for project in projects %}
            <div class="col-md-4 ">
                <div class="card card-p">
                    <div class="card-body">
                        <h4 class="letter-1 text-center">{{project.name}}</h4>
                        <ul class="list-group">                            
                            <li class="list-group-item task-item" data-id="{{project.id + 10000}}">Avance : 25%</li>
                            <li class="list-group-item task-item" data-id="{{project.id + 20000}}">Avance : 50%</li>
                            <li class="list-group-item task-item" data-id="{{project.id + 30000}}">Avance : 75%</li>
                            <li class="list-group-item task-item" data-id="{{project.id + 40000}}">Avance : 100%</li>
                        </ul>
                        <form action="/tareas/completar/project" method="POST">
                            <input type="hidden" name="ref_id" value="{{project.id}}">
                            <button class="btn btn-outline-primary btn-p mt-2" type="submit" onclick="return ValidateTask(this)">completar</button>
                        </form>
                    </div>
                </div>  
            </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}