{% extends "layout.html" %}

{% block title %}
    Tareas
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card card-p me-3 p-4">
            <h3 class="text-center">Objetivo Diario</h3>
            <ul>
                <li>comer</li>
                <li>cagar</li>
                <li>dormir</li>
            </ul>
        </div>
        <div class="card card-p me-3 p-4">
            <h3 class="text-center">Profesion</h3>
            <ul>
                <li>hacer algo</li>
                <li>hacer otra cosa</li>
                <li>hacer lo que sea</li>
            </ul>
        </div>
        <div class="card card-p me-3 p-4">
            <h3 class="text-center">Habitos</h3>
            <ul>
                <li>entrenar</li>
                <li>descansar</li>
                <li>jugar</li>
            </ul>
        </div>
    </div>
    <div class="justify-content-end">
            <button class="btn btn-outline-primary btn-p">Nueva Tarea</button>
    </div>
{% endblock %}